<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Estatística na web</title>
    
  </head>
  <body>
    <div id="app">
      {{Exemplo}}
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
