<script setup>
import topico from './itens.vue'
import DocumentationIcon from './icons/IconDocumentation.vue'
import CommunityIcon from './icons/IconCommunity.vue'
</script>

<template>
  <topico>
    <template #icon>
      <DocumentationIcon />
    </template>
    <template #heading><div><font size="3" face="arial,helvetica,sans-serif"><font color="#0000FF">Livro</font> - </font><font size="3"><span>BECKER, João L. <strong>Estatística Básica</strong>. Grupo A, 2015. </span> </font>
      <font size="3" face="arial,helvetica,sans-serif"><a href="https://app.minhabiblioteca.com.br/#/books/9788582603130/">https://app.minhabiblioteca.com.br/#/books/9788582603130/</a></font></div></template>
  </topico>
  <div>VENDAS NO SITE: <font size="3" face="arial,helvetica,sans-serif"><a href="https://www.amazon.com.br/Estat%C3%ADstica-B%C3%A1sica-Transformando-Dados-Informa%C3%A7%C3%A3o/dp/8582603126"> https://www.amazon.com.br/Estat%C3%ADstica-B%C3%A1sica-Transformando-Dados-Informa%C3%A7%C3%A3o/dp/8582603126</a><br /></font></div>
  



  
<div>Assista aos vídeos a seguir e faça o mesmo. Treine o uso da ferramenta </div>
<iframe width="300" height="200" src="https://www.youtube.com/embed/5kd5_p6fJ5k" title="Conhecendo o R e RStudio - Variáveis (Curso para iniciantes - Aula 3)" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
<iframe width="300" height="200" src="https://www.youtube.com/embed/2mS-SzVWPZQ" title="Curso de R com R Studio - Parte 1 de 21 - Introdução" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


<topico>
    <template #icon>
      <CommunityIcon />
    </template>
    <template #heading>Fóruns de discussão</template>

    Quando tiver dúvidas, sugiro ingressar nos fóruns de discussão:
    <a href="https://community.rstudio.com/" target="_blank" rel="noopener">Posit Community</a>. Essa é uma comunidade oficial do rstudio, ou, ainda, o
    <a href="https://pt.stackoverflow.com/questions/tagged/r" target="_blank" rel="noopener"
      >StackOverflow</a>. 
  </topico>

</template>
