@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(235, 133, 181);
  transition: 0.4s;
}

.red {
  text-decoration: none;
  color: rgb(236, 27, 27);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(66, 90%, 54%, 0.966);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
