<script setup>
import parte1 from './components/inicio.vue'
import parte2 from './components/parte2.vue'
</script>


<template>
 <header>
  <img alt="est" class="logo" src="./assets/simbolo.png" width="100" height="100" />
    <div class="wrapper">
      <parte1 msg="You did it!" />
    </div>
 </header>

 <body> 
    <div>
      <parte2 />

      <div><br/></div>
   <p><div> Esse material foi útil? </div></p>
   <div class="btn-group" >
  <button style="width: 35%;">Sim</button>
  <button style="width: 35%;">Não</button>
</div> 
    </div>
  </body>
</template>


<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}

.btn-group button {
  background-color: #6903c9; /* Green background */
  border: 1px solid rgb(164, 113, 247); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #0c0e0c;
}
</style>
